<%- include('../partials/header.ejs') %>

<h3>Pokemon Detail Page</h3>
<div class="pokemon-container">
    <div class="card" style="width: 18rem;">
        <img src="<%= pokemon.sprites.front_default %>" class="card-img-top" alt="<%= pokemon.name %>">
        <div class="card-body">
            <h5 class="card-title">
                <%= pokemon.name %>
            </h5>
            <p class="card-text">
                <%= pokemon.name %> is <%= pokemon.types[0].type.name %> type Pokemon
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <% pokemon.abilities.forEach(function(ability) { %>
                <li class="list-group-item">
                    <%= ability.ability.name %>
                </li>
                <% }); %>
        </ul>
    </div>
</div>

<%- include('../partials/footer.ejs') %>