<%- include('../partials/header') %>

<h2>Battle Teams</h2>

<a href="/battle-teams/new">Add a Battle Team</a>

<ul>
    <% battleTeams.forEach(function(battleTeam) { %>
        <li>
            <form action="/battle-teams/<%= battleTeam.id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form>
            <a href="/battle-teams/<%= battleTeam.id %>">
                <%= battleTeam.name %>
            </a>
        </li>
        <% }); %>
</ul>

<%- include('../partials/footer') %>