<%- include('../partials/header.ejs') %>

<h3>
    <%= battleTeam.name %>
</h3>

<ul>
    <% battleTeam.pokemon.forEach(function(pokemon) { %>
        <li>
            <form action="/pokemon/<%= battleTeam.id %>/<%= pokemon.id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form>
            <a href="/pokedex/<%= pokemon.id %>">
                <%= pokemon.name %>
            </a>
        </li>
        <% }); %>
</ul>

<form action="/pokemon/<%= battleTeam.id %>" method="POST">
    <input type="text" name="name">
    <button type="submit">Add Pokemon</button>
</form>

<a href="/battle-teams/<%= battleTeam.id %>/edit">Edit</a>

<%- include('../partials/footer.ejs') %>